<?xml version="1.0"?>
<config>
    <modules>
        <Seminc_Warehousecsv>
            <version>0.1.0</version>    <!-- Version number of your module -->
        </Seminc_Warehousecsv>
    </modules>
    <frontend>
        <routers>
            <warehousecsv>
                <use>standard</use>
                <args>
                    <module>Seminc_Warehousecsv</module>
                    <frontName>warehousecsv</frontName>
                </args>
            </warehousecsv>
        </routers>
        <layout>
            <updates>
                <warehousecsv>
                    <file>warehousecsv.xml</file> <!-- Our layout file name-->
                </warehousecsv>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <seminc_testmod before="Mage_Adminhtml">Seminc_Warehousecsv_Adminhtml</seminc_testmod>
                    </modules>
                </args>
            </adminhtml>
        </routers>
        <layout>
            <updates>
                <warehousecsv>
                    <file>warehousecsv.xml</file> <!-- Our layout file name-->
                </warehousecsv>
            </updates>
        </layout>
    </admin>
    <global>
        <blocks>
            <warehousecsv>
                <class>Seminc_Warehousecsv_Block</class>
            </warehousecsv>
        </blocks>
    </global>
</config>