<?xml version="1.0"?>
<config>
    <modules>
        <Seminc_Warehousecsv>
            <version>0.1.2</version>    <!-- Version number of your module -->
        </Seminc_Warehousecsv>
    </modules>
    <frontend>
        <routers>
            <warehousecsv>
                <use>standard</use>
                <args>
                    <module>Seminc_Warehousecsv</module>
                    <frontName>warehousecsv</frontName>
                </args>
            </warehousecsv>
        </routers>
        <layout>
            <updates>
                <warehousecsv>
                    <file>warehousecsv.xml</file> <!-- Our layout file name-->
                </warehousecsv>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <seminc_warehousecsv before="Mage_Adminhtml">Seminc_Warehousecsv_Adminhtml</seminc_warehousecsv>
                    </modules>
                </args>
            </adminhtml>
        </routers>
        <layout>
            <updates>
                <warehousecsv>
                    <file>warehousecsv.xml</file> <!-- Our layout file name-->
                </warehousecsv>
            </updates>
        </layout>
    </admin>
    <global>
        <blocks>
            <warehousecsv>
                <class>Seminc_Warehousecsv_Block</class>
            </warehousecsv>
        </blocks>

        <helpers>
            <seminc_warehousecsv>
                <class>Seminc_Warehousecsv_Helper</class>
            </seminc_warehousecsv>
        </helpers>

        <models>
            <warehousecsv>
                <class>Seminc_Warehousecsv_Model</class>
                <resourceModel>warehousecsv_resource</resourceModel>
            </warehousecsv>
            <warehousecsv_resource>
                <class>Seminc_Warehousecsv_Model_Resource</class>
                <entities>
                    <warehouse>
                        <table>csv_warehouse_data</table>
                    </warehouse>
                    <prodquantities>
                        <table>csv_warehouse_prodquantities</table>
                    </prodquantities>
                </entities>
            </warehousecsv_resource>
        </models>

        <resources>
            <warehousecsv_setup>
                <setup>
                    <module>Seminc_Warehousecsv</module>
                    <class>Seminc_Warehousecsv_Model_Resource_Setup</class>
                </setup>
            </warehousecsv_setup>
        </resources>
    </global>
</config>